* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: rgb(153, 130, 238);
    padding: 30px;
    height: 100vh;
}

.dices {
    width: 70%;
    margin: 0px auto;
    padding: 60px 40px;
    margin-top: 150px;
}

.dices .dice {
    display: flex;
    justify-content: space-around;
}

.dices .dice img {
    width: 200px;
}